aiogram==3.1.1
environs==9.5.0
redis==5.0.1
betterlogging~=0.2.1
pynetbox==7.2.0

# # For enabling api:
backoff~=2.2.1
ujson~=5.8.0
yarl~=1.9.2

# # For PostgreSQL sqlalchemy + alembic:
sqlalchemy==2.0.22
alembic==1.12.0
asyncpg

loguru~=0.7.2
aiohttp==3.8.6
urllib3~=2.0.7
requests~=2.31.0
pymysql